@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  font-size: 10px;
  background: #2980b9; /* fallback for old browsers */
  background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 35% auto 40%;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}
.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  grid-area: header;
}
main {
  grid-area: content;
}
footer {
  grid-area: footer;
}
header h1 {
  color: antiquewhite;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;
}
header p {
  color: antiquewhite;
  font-size: 2em;
  text-align: center;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.key {
  border: 4px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}

input[type='button'] {
  position: absolute;
  margin-left: -50px;
  left: 45%;
  bottom: 20%;
  border: 4px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  transition: all 0.07s;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
